.events{
    border: 1px solid;
    width: 100vw;
    display: flex;
    justify-content: center; 
    
}


.events-child{
    width: 70%;
    border: 1px solid;
    margin-top: 50px;
    margin-bottom: 50px;
}

.event-card-part-1{
    border-top: 2px solid rgb(183, 183, 183);
}

.event-card > h3{
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}


.event-card > h3 > span{
   
    color: #00798c;
}


.event-card-part-1-child {
    border: 1px solid;
}