.signup-container {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(159, 159, 159);
  }
  
  .signup-container h2 {
    color: #000000;
    margin-bottom: 1rem;
  }
  
  .signup-container input,
  .signup-container select {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #6d6d6d;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
  }
  
  .signup-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #828282;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .signup-container button:hover {
    background-color: #bbb;
    color: #000;
  }
  
  #signup {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .signup-container a {
    margin-top: 10px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
  }
  